/* Reset de márgenes y rellenos */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1); /* Fondo blanco con transparencia */
  backdrop-filter: blur(10px); /* Desenfoque */
  -webkit-backdrop-filter: blur(10px); /* Desenfoque para Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borde blanco transparente */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
